<section>
	<style>
		.icon {
			font-size: 80%;
		}
		.has-danger {
			color: red !important;
		}

	</style>

	<h1><span class="glyphicon glyphicon-user icon" aria-hidden="true"></span>
		{{$ctrl.contact.firstName}}&nbsp;{{$ctrl.contact.lastName}}
	</h1>

	<hr/>

	<form class="form" name="contactForm" ng-submit="$ctrl.onSubmit()" novalidate>

		<div class="form-row">
			<div class="col col-lg-4 col-sm-12">
				<div class="form-group" ng-class="{'has-danger': contactForm.company.$touched && contactForm.company.$invalid}">
					<label for="company">Company</label>
					<input type="text" class="form-control" id="company" name="company"
						ng-model="$ctrl.contact.company"
						ng-minlength="4"
						ng-maxlength="50"
						required>

					<div class="help-block" ng-messages="contactForm.company.$error" ng-if="contactForm.company.$touched">
						<p ng-message="minlength">Company name is too short</p>
						<p ng-message="maxlength">Company name is too long</p>
						<p ng-message="required">Company name is required</p>
					</div>

				</div>
			</div>
		</div>

		<div class="form-row">
			<div class="col col-lg-4 col-12">
				<div class="form-group" ng-class="{'has-danger': contactForm.lastname.$touched && contactForm.lastname.$invalid}">
					<label for="lastname">Lastname</label>
					<input type="text" class="form-control" id="lastname" name="lastname"
						ng-model="$ctrl.contact.lastName"
						ng-minlength="4"
						ng-maxlength="25"
						required>

					<div class="help-block" ng-messages="contactForm.lastname.$error" ng-if="contactForm.lastname.$touched">
						<p ng-message="minlength">Lastname is too short</p>
						<p ng-message="maxlength">Lastname is too long</p>
						<p ng-message="required">Lastname is required</p>
					</div>

				</div>
			</div>
			<div class="col-lg-4 col-12">
				<div class="form-group" ng-class="{'has-danger': contactForm.firstname.$touched && contactForm.firstname.$invalid}">
					<label for="firstname">Firstname</label>
					<input type="text" class="form-control" id="firstname" name="firstname"
						ng-model="$ctrl.contact.firstName"
						ng-minlength="5"
						ng-maxlength="25"
						required>

					<div class="help-block" ng-messages="contactForm.firstname.$error" ng-if="contactForm.firstname.$touched">
						<p ng-message="minlength">Firstname is too short</p>
						<p ng-message="maxlength">Firstname is too long</p>
						<p ng-message="required">Firstname is required</p>
					</div>

				</div>
			</div>
		</div>

		<div class="form-row">
			<div class="col-lg-4 col-sm-12">
				<div class="form-group">
					<label for="street">Street</label>
					<input type="text" class="form-control" id="street" name="street" ng-model="$ctrl.contact.street">
				</div>
			</div>
		</div>

		<div class="form-row">
			<div class="col-lg-4 col-sm-12 col-12">
				<div class="form-group">
					<label for="city">City</label>
					<input type="text" class="form-control" id="city" name="city" ng-model="$ctrl.contact.city">
				</div>
			</div>

			<div class="col-lg-4 col-12">
				<div class="form-group">
					<label for="state">State</label>
					<select class="form-control" id="state" name="state" ng-model="$ctrl.contact.state">
						<option ng-repeat="state in $ctrl.states" value="{{state.abbreviation}}">{{state.name}}</option>
					</select>
				</div>
			</div>
		</div>

		<div class="form-row">
			<div class="col-lg-4 col-12">
				<div class="form-group">
					<label for="zip">Zip</label>
					<input type="text" class="form-control" id="zip" name="state" ng-model="$ctrl.contact.zip">
				</div>
			</div>
		</div>

		<div class="form-row">
			<div class="col-lg-4 col-12">
				<div class="form-group">
					<label for="phone">Phone</label>
					<input type="tel" class="form-control" id="phone" name="phone" ng-model="$ctrl.contact.phone">
				</div>
			</div>

			<div class="col-lg-4 col-12">
				<div class="form-group" ng-class="{'has-danger': contactForm.email.$touched && contactForm.email.$invalid}">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" name="email" ng-model="$ctrl.contact.email" required>

					<div class="help-block" ng-messages="contactForm.email.$error" ng-if="contactForm.email.$touched">
						<p ng-message="email">Email is not formatted correct</p>
						<p ng-message="required">Email is required</p>
					</div>

				</div>
			</div>
		</div>

		<hr/>

		<button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
		<button class="btn btn-primary" type="submit">Save</button>
	</form>
</section>
